<h2>Reset Password</h2>
<p>Please enter your email address to request a password reset.</p>

<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" autocomplete="off" type="email" matInput required>
        <mat-error *ngIf="this.forgotPasswordForm.invalid">*Please enter your email address</mat-error>
    </mat-form-field><br>
    <button type="submit" mat-raised-button color="primary" title="Reset Password">Reset Password</button><br>
    <a class="auth-link" routerLink="/login" title="Back to login">Back to login</a>
</form>