<mat-card *ngIf="authService.userData as user">
    <mat-card-header>
        <img class="profile-picture" src="{{(user.photoURL) ? user.photoURL : './../../../assets/img/blank_profile_picture.svg'}}" alt="{{user.displayName}}">
        <h1>Welcome <strong>{{(user.displayName) ? user.displayName : 'User'}}!</strong></h1>
    </mat-card-header>

    <mat-card-content>
        <div class="data-row">
            <strong>User ID: </strong>
            <span>{{user.uid}}</span>
        </div>
        <div class="data-row">
            <strong>Display Name: </strong>
            <span>{{user.displayName}}</span>
        </div>
        <div class="data-row">
            <strong>Email: </strong>
            <span>{{user.email ? user.email : '-'}}</span>
        </div>
        <div class="data-row">
            <strong>Email Verified: </strong>
            <span>{{user.emailVerified}}</span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="this.authService.logOut()" title="Log Out">Log Out</button>
        <button mat-raised-button color="basic" (click)="this.openEditUserDialog()" title="Edit Profile">Edit Profile</button>
    </mat-card-actions>
</mat-card>