.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    h1 {
        text-align: center;
    }
    strong {
        color: var(--gray-col);
    }
}

.profile-picture {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.time-and-date {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.customers-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mat-card-actions {
        display: flex;
        gap: 16px;
    }
}

.customers-card-head {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    h2 {
        margin: 0;
    }
    i {
        font-size: 64px;
        color: var(--gray-col);
    }
}