table {
    width: 100%;
}

.mat-row {
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
}

.add-customer-btn {
    position: absolute;
    right: 32px;
    bottom: 32px;
}