<div class="content">
    <div class="clock">
        <div class="wrap">
            <span id="hour" class="hour"></span>
            <span id="minute" class="minute"></span>
            <span id="second" class="second"></span>
            <span class="dot"></span>
        </div>
    </div>
    <div class="digital-clock">
        <strong id="hour-digital"></strong>
        <span>:</span>
        <strong id="minute-digital"></strong>
        <span>:</span>
        <strong id="second-digital"></strong>
    </div>
</div>