<div class="dialog-wrapper">
    <div class="mat-dialog-header">
        <i class="material-icons">person_add</i>
        <h1 mat-dialog-title>Add Customer</h1>
    </div>
    <div mat-dialog-content>
        <form [formGroup]="addCustomerForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <legend>Person</legend>
                <div class="form-row">
                    <mat-form-field appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input formControlName="firstName" type="text" matInput required>
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="this.addCustomerForm.invalid">
                            * Please enter a first name
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input formControlName="lastName" type="text" matInput required>
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="this.addCustomerForm.invalid">
                            * Please enter a last name
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="dob-form-field" appearance="fill">
                        <mat-label>Date of Birth</mat-label>
                        <input formControlName="dateOfBirth" matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" required>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="this.addCustomerForm.invalid">
                            * Please enter a date of birth
                        </mat-error>
                    </mat-form-field>
                </div>
            </fieldset>
            <fieldset>
                <legend>Address</legend>
                <div class="form-row">
                    <mat-form-field appearance="fill">
                        <mat-label>Street & house number</mat-label>
                        <input formControlName="street" type="text" matInput required>
                        <mat-icon matSuffix>signpost</mat-icon>
                        <mat-error *ngIf="this.addCustomerForm.invalid">
                            * Please enter a street and a house number
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Zip Code</mat-label>
                        <input formControlName="zipCode" type="text" matInput required>
                        <mat-icon matSuffix>location_on</mat-icon>
                        <mat-error *ngIf="this.addCustomerForm.invalid">
                            * Please enter a zip code
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>City</mat-label>
                        <input formControlName="city" type="text" matInput required>
                        <mat-icon matSuffix>location_city</mat-icon>
                        <mat-error *ngIf="this.addCustomerForm.invalid">
                            * Please enter a city
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="country-form-field" appearance="fill">
                        <mat-label>Country</mat-label>
                        <input formControlName="country" type="text" matInput required>
                        <mat-icon matSuffix>flag</mat-icon>
                        <mat-error *ngIf="this.addCustomerForm.invalid">
                            * Please enter a street and a country
                        </mat-error>
                    </mat-form-field>
                </div>
            </fieldset>
            <fieldset>
                <legend>Contact</legend>
                <div class="form-row">
                    <mat-form-field appearance="fill">
                        <mat-label>Phone number</mat-label>
                        <input formControlName="phoneNumber" type="text" matInput required>
                        <mat-icon matSuffix>call</mat-icon>
                        <mat-error *ngIf="this.addCustomerForm.invalid">
                            * Please enter a phone number
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" type="email" matInput required>
                        <mat-icon matSuffix>mail</mat-icon>
                        <mat-error *ngIf="this.addCustomerForm.invalid">
                            * Please enter an email address
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="website-form-field" appearance="fill">
                        <mat-label>Website</mat-label>
                        <input formControlName="website" type="text" matInput>
                        <mat-icon matSuffix>language</mat-icon>
                        <mat-hint>* Optional</mat-hint>
                    </mat-form-field>
                </div>
            </fieldset>
            <div mat-dialog-actions>
                <button mat-button (click)="this.dialogRef.close()" title="Cancel">Cancel</button>
                <button type="submit" color="primary" mat-button cdkFocusInitial title="Add">Add</button>
            </div>
        </form>
    </div>
</div>