form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mat-datepicker-toggle {
    color: unset;
}

.form-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}