.mat-dialog-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    h1 {
        margin: 0;
    }
    i {
        color: var(--gray-col);
        font-size: 32px;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

legend {
    color: var(--primary-col);
}

mat-datepicker-toggle {
    color: var(--gray-col) !important;
}

.mat-icon {
    color: var(--gray-col);
}

.mat-datepicker-toggle {
    color: unset;
}

.mat-dialog-content {
    overflow: unset;
}

.form-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}