<h2>Sign Up</h2>

<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Display Name</mat-label>
        <input formControlName="displayName" type="text" placeholder="Display Name" autocomplete="off" matInput required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" placeholder="Email" autocomplete="off" matInput required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" placeholder="Password" autocomplete="off" matInput required>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="onSubmit()">Sign Up</button>
    <button mat-raised-button color="secondary" (click)="authService.googleAuth()">Continue with Google</button><br>
    <a (click)="this.utils.redirectToLogin()">Already have an account?</a><br>
</form>