<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" [opened]="true">
        <div class="sidenav-logo-container mat-toolbar-row">Logo Placeholder</div>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <a class="menu-link" href="">
                    <mat-icon color="link">dashboard</mat-icon>
                    <span>Dashboard</span>
                </a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a class="menu-link" href="">
                    <mat-icon>person</mat-icon>
                    <span>User</span>
                </a>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <button type="button" mat-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Simple CRM</span>
        </mat-toolbar>
    </div>
</mat-drawer-container>