<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" [opened]="true">
        <div class="sidenav-logo-container mat-toolbar-row">
            <img src="./../../assets/img/logo/logo_cropped.png" alt="CRM Logo">
        </div>
        <mat-nav-list>
            <mat-list-item role="listitem">
                <a routerLink="dashboard">
                    <mat-icon color="primary">dashboard</mat-icon>
                    <span>Dashboard</span>
                </a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a routerLink="user">
                    <mat-icon color="primary">person</mat-icon>
                    <span>User</span>
                </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <button type="button" mat-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Simple CRM</span>
        </mat-toolbar>
        <div class="router-outlet-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>