mat-drawer-container {
    height: 100vh;
}

mat-drawer {
    width: 300px;
}

.sidenav-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px 0 16px;
    border-bottom: solid 1px rgba(0, 0, 0, .12);
    img {
        width: 200px;
        object-fit: cover;
        user-select: none;
        pointer-events: none;
        -webkit-user-drag: none;
    }
}

.mat-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, .12);
    }
    a {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        height: 100%;
    }
}

.router-outlet-container {
    padding: 16px 64px;
}