form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

legend {
    color: var(--primary-col);
}

mat-datepicker-toggle {
    color: var(--primary-col) !important;
}

.mat-icon {
    color: var(--primary-col);
}

.form-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}