.login-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.google-icon {
    width: 24px;
    object-fit: contain;
    margin-right: 8px;
}

.google-login {
    padding: 8px;
    white-space: break-spaces;
    background-color: #fff;
    border: 2px solid #4285f4;
    color: #4285f4;
    &:active {
        color: #4285f4;
    }
}

mat-form-field {
    width: 25vw;
}