<h2>Login as guest</h2>
<p>Please enter a display name for your guest account.</p>
<form [formGroup]="guestLoginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Display Name</mat-label>
        <input formControlName="displayName" type="text" placeholder="Display Name" minlength="3" matInput required>
        <mat-error *ngIf="this.guestLoginForm.invalid">*Please enter a display name</mat-error>
    </mat-form-field>
    <button color="primary" type="submit" mat-raised-button title="Login">Login</button>
</form>