.content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header-card {
    background-color: #757de8;
}

.header-card-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.user-header-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    img {
        width: 64px;
        height: 64px;
    }
}

.user-header-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    h2 {
        margin: 0;
    }
}

.open-user-menu-btn {
    position: absolute;
    top: 8px;
    right: 8px;
}

.delete-user-btn {
    color: #f44336;
}

.user-information {
    display: flex;
    flex-direction: column;
    gap: 16px;
}