<div class="content">
    <mat-card class="header-card">
        <mat-card-content class="header-card-content">
            <div class="customer-header-container">
                <img src="./../../assets/img/account_circle.svg" alt="customer img">
                <div class="customer-header-headline">
                    <h2>{{ this.firestoreService.currentCustomer.firstName }} {{ this.firestoreService.currentCustomer.lastName }}</h2>
                    <span>{{ this.firestoreService.currentCustomer.email }}</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <button color="primary" mat-icon-button [matMenuTriggerFor]="menu" class="open-customer-menu-btn">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button (click)="openEditCustomerDialog(this.customerId)" mat-menu-item>Edit</button>
            <button (click)="openDeleteCustomerDialog(this.customerId)" mat-menu-item class="delete-customer-btn">Delete</button>
        </mat-menu>
        <mat-card-content class="customer-information">
            <div>
                <h2>Person</h2>
                <span><strong>First Name: </strong> {{ this.firestoreService.currentCustomer.firstName }}</span><br>
                <span><strong>Last Name: </strong>{{ this.firestoreService.currentCustomer.lastName }}</span><br>
                <span><strong>Date of Birth: </strong>{{ this.firestoreService.currentCustomer.dateOfBirth }}</span><br>
            </div>
            <div>
                <h2>Address</h2>
                <span><strong>Street: </strong>{{ this.firestoreService.currentCustomer.street }}</span><br>
                <span><strong>Zip Code: </strong>{{ this.firestoreService.currentCustomer.zipCode }}</span><br>
                <span><strong>City: </strong>{{ this.firestoreService.currentCustomer.city }}</span><br>
                <span><strong>Country: </strong>{{ this.firestoreService.currentCustomer.country }}</span>
            </div>
            <div>
                <h2>Contact</h2>
                <span><strong>Phone Number: </strong>{{ this.firestoreService.currentCustomer.phoneNumber }}</span><br>
                <span><strong>Email: </strong>{{ this.firestoreService.currentCustomer.email }}</span><br>
            </div>
        </mat-card-content>
    </mat-card>
</div>