<div class="content">
    <mat-card>
        <mat-card-content class="header-card-content">
            <div class="customer-header-container">
                <img src="./../../assets/img/blank_customer.svg" alt="Customer">
                <div class="customer-header-headline">
                    <h2>{{ this.firestoreService.currentCustomer.firstName }} {{ this.firestoreService.currentCustomer.lastName }}</h2>
                    <span><strong>ID: </strong>{{ this.customerId }}</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <div class="category-header">
                <mat-icon matSuffix>person</mat-icon>
                <h2 class="category-title">Person</h2>
            </div>
            <div class="data-row">
                <strong>First Name: </strong>
                <span> {{ this.firestoreService.currentCustomer.firstName }}</span>
            </div>
            <div class="data-row">
                <strong>Last Name: </strong>
                <span>{{ this.firestoreService.currentCustomer.lastName }}</span>
            </div>
            <div class="data-row">
                <strong matTooltip="MM/DD/YYYY">Date of Birth: </strong>
                <span>{{ this.utils.convertTimestampToDate(this.firestoreService.currentCustomer.dateOfBirth) }}</span>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <div class="category-header">
                <mat-icon matSuffix>location_on</mat-icon>
                <h2 class="category-title">Address</h2>
            </div>
            <div class="data-row">
                <strong>Street: </strong>
                <span>{{ this.firestoreService.currentCustomer.street }}</span>
            </div>
            <div class="data-row">
                <strong>Zip Code: </strong>
                <span>{{ this.firestoreService.currentCustomer.zipCode }}</span>
            </div>
            <div class="data-row">
                <strong>City: </strong>
                <span>{{ this.firestoreService.currentCustomer.city }}</span>
            </div>
            <div class="data-row">
                <strong>Country: </strong>
                <span>{{ this.firestoreService.currentCustomer.country }}</span>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <div class="category-header">
                <mat-icon matSuffix>phone</mat-icon>
                <h2 class="category-title">Contact</h2>
            </div>
            <div class="data-row">
                <strong>Phone Number: </strong>
                <span>{{ this.firestoreService.currentCustomer.phoneNumber }}</span>
            </div>
            <div class="data-row">
                <strong>Email: </strong>
                <span>{{ this.firestoreService.currentCustomer.email }}</span>
            </div>
            <div class="data-row">
                <strong>Website: </strong>
                <span>{{ this.firestoreService.currentCustomer.website }}</span>
            </div>
        </mat-card-content>
    </mat-card>

    <div class="customer-actions">
        <button (click)="openEditCustomerDialog(this.customerId)" color="primary" mat-stroked-button>Edit</button>
        <button (click)="openDeleteCustomerDialog(this.customerId)" color="warn" mat-stroked-button>Delete</button>
    </div>
</div>