.content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header-card-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.customer-header-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    img {
        width: 64px;
        height: 64px;
    }
}

.customer-header-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h2 {
        color: var(--gray-col);
        margin: 0;
    }
    strong {
        color: var(--gray-col);
        font-weight: 500;
    }
}

.category-header {
    display: flex;
    align-items: center;
    gap: 8px;
    border-bottom: solid 1px rgba(0, 0, 0, .12);
    margin-bottom: 16px;
    mat-icon {
        color: var(--gray-col);
    }
    h2 {
        margin: 0;
        color: var(--gray-col);
    }
}

.data-row {
    display: flex;
    align-items: center;
    border-bottom: dashed 1px rgba(0, 0, 0, .12);
    strong {
        width: 164px;
        color: var(--gray-col);
        font-weight: 500;
    }
}

.customer-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}