<div class="mat-dialog-header">
    <div>
        <i class="material-icons">lock</i>
        <h1 mat-dialog-title>Reset Password</h1>
    </div>
    <p>Please enter your email address to request a password reset.</p>
</div>

<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" autocomplete="off" type="email" matInput required>
        <mat-error *ngIf="this.forgotPasswordForm.invalid">*Please enter your email address</mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
        <button (click)="this.dialogRef.close()" mat-raised-button color="basic" title="Cancel">Cancel</button>
        <button type="submit" mat-raised-button color="primary" title="Reset Password">Reset Password</button>
    </div>
</form>