.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 160px;
    height: 160px;
    background: #ffffff;
    border: 5px solid white;
    box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.day {
    color: #FF4B3E;
    font-weight: 500;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}