.content {
    display: flex;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

.left-section {
    width: 40%;
    height: 100%;
    background-image: url('./../../../assets/img/background/architecture.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    width: 60%;
    height: 100%;
}

h1 {
    font-size: 36px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

form {
    display: flex;
    flex-direction: column;
    .mat-icon {
        color: rgba(0, 0, 0, 0.8);
    }
}

.password-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    a {
        position: absolute;
        right: 0;
        bottom: -14px;
    }
}

.login-btn {
    width: 96px;
}

.sign-up-wrapper {
    width: 100%;
    text-align: start;
    font-size: 12px;
    margin-top: -20px;
}

.google-icon {
    width: 24px;
    object-fit: contain;
    margin-right: 8px;
}

.google-login {
    padding: 8px;
    white-space: break-spaces;
    background-color: #fff;
    border: 2px solid var(--primary-col);
    color: var(--primary-col);
    &:active {
        color: #5a68b9;
    }
}