<div class="content">
    <div class="left-section"></div>

    <div class="right-section">
        <h1>Sign in to account</h1>
        <div class="login-wrapper">
            <form>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <mat-icon matSuffix>mail</mat-icon>
                    <input autocomplete="off" type="email" matInput #userName placeholder="Email" />
                </mat-form-field>
                <div class="password-wrapper">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <mat-icon matSuffix>lock</mat-icon>
                        <input autocomplete="off" type="password" matInput #userPassword placeholder="Password" />
                    </mat-form-field>
                    <a [routerLink]="['/forgot-password']" routerLinkActive="router-link-active">Forgot Password?</a>
                </div>

                <button class="login-btn" mat-raised-button color="primary" (click)="this.authService.signIn(userName.value, userPassword.value)">Login</button>
            </form>
            <div class="sign-up-wrapper">
                <span>New User? </span>
                <a [routerLink]="['/sign-up']" routerLinkActive="router-link-active">Sign up</a>
            </div>
            <p>OR</p>
            <button (click)="this.authService.googleAuth()" class="google-login" mat-stroked-button>
                <img class="google-icon" src="./../../assets/img/icons/google.svg" alt="Google Logo Icon"/>
                <span>Login with Google Account</span>
            </button>
            <button mat-raised-button (click)="this.openGuestUserDialog()">Login as guest</button>
        </div>
    </div>
</div>