<div class="content">
    <mat-card class="header-card">
        <mat-card-content class="header-card-content">
            <div class="user-header-container">
                <img src="./../../assets/img/account_circle.svg" alt="User img">
                <div class="user-header-headline">
                    <h2>FirstName LastName</h2>
                    <span>user@email.com</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <button color="primary" mat-icon-button [matMenuTriggerFor]="menu" class="open-user-menu-btn">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button (click)="editCurrentUser(this.userId)" mat-menu-item>Edit</button>
            <button (click)="deleteCurrentUser(this.userId)" mat-menu-item class="delete-user-btn">Delete</button>
        </mat-menu>
        <mat-card-content class="user-information">
            <div>
                <h2>Person</h2>
                <span><strong>First Name: </strong> {{ this.currentUser.firstName }}</span><br>
                <span><strong>Last Name: </strong>{{ this.currentUser.lastName }}</span><br>
                <span><strong>Date of Birth: </strong>{{ this.currentUser.dateOfBirth }}</span><br>
            </div>
            <div>
                <h2>Address</h2>
                <span><strong>Street: </strong>{{ this.currentUser.street }}</span><br>
                <span><strong>Zip Code: </strong>{{ this.currentUser.zipCode }}</span><br>
                <span><strong>City: </strong>{{ this.currentUser.city }}</span><br>
                <span><strong>Country: </strong>{{ this.currentUser.country }}</span>
            </div>
            <div>
                <h2>Contact</h2>
                <span><strong>Phone Number: </strong>{{ this.currentUser.phoneNumber }}</span><br>
                <span><strong>Email: </strong>{{ this.currentUser.email }}</span><br>
            </div>
        </mat-card-content>
    </mat-card>
</div>