mat-drawer-container {
    height: 100vh;
}

mat-drawer {
    width: 300px;
}

mat-toolbar {
    background-color: var(--gray-col) !important;
}

.nav-icon {
    color: var(--gray-col) !important;
}

.sidenav-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px 0 16px;
    border-bottom: solid 1px rgba(0, 0, 0, .12);
    img {
        width: 200px;
        object-fit: cover;
        user-select: none;
        pointer-events: none;
        -webkit-user-drag: none;
    }
}

.mat-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, .12);
    }
    a {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        height: 100%;
    }
}

.mat-toolbar {
    justify-content: space-between;
}

.toolbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar-right {
    display: flex;
    align-items: center;
    gap: 16px;
    span {
        font-size: 16px;
    }
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.router-outlet-container {
    padding: 16px 64px;
}

.legal-notice-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 16px;
    left: 50%;
}

@media (max-width: 360px) {
    .hide-mobile {
        display: none;
    }
    .toolbar-right {
        gap: 0px;
    }
    .router-outlet-container {
        padding: 16px 16px;
    }
}

@media (min-width: 360px) {
    .hide-mobile {
        display: none;
    }
    .toolbar-right {
        gap: 0px;
    }
    .router-outlet-container {
        padding: 16px 16px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .hide-mobile {
        display: unset;
    }
    .toolbar-right {
        gap: 16px;
    }
    .router-outlet-container {
        padding: 16px 32px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .router-outlet-container {
        padding: 16px 48px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .router-outlet-container {
        padding: 16px 64px;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}