<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" [opened]="true">
        <div class="sidenav-logo-container mat-toolbar-row">
            <img src="./../../assets/img/logo/logo_cropped.png" alt="CRM Logo">
        </div>
        <mat-nav-list>
            <mat-list-item role="listitem">
                <a routerLink="dashboard" title="Dashboard">
                    <mat-icon class="nav-icon">dashboard</mat-icon>
                    <span>Dashboard</span>
                </a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a routerLink="customers" title="Customers">
                    <mat-icon class="nav-icon">person</mat-icon>
                    <span>Customers</span>
                </a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a (click)="this.authService.logOut()" title="Log Out">
                    <mat-icon class="nav-icon">logout</mat-icon>
                    <span>Log Out</span>
                </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <div class="toolbar-left">
                <button type="button" mat-button (click)="drawer.toggle()" title="Toggle Menu">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Simple CRM</span>
            </div>
            <div class="toolbar-right" *ngIf="authService.userData as user">
                <span>{{ user.displayName }}</span>
                <a routerLink="account" title="Account">
                    <img class="profile-picture" src="{{ user.photoURL? user.photoURL : './../../../../assets/img/blank_profile_picture.svg' }}" alt="{{ user.displayName }}" />
                </a>
            </div>

        </mat-toolbar>
        <div class="router-outlet-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>