/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

fieldset {
    border: solid 1px #3F51B5;
    border-radius: 5px;
}

:root {
    // Material colors
    --primary-col: #3F51B5;
    --accent-col: #FF4081;
    --warn-col: #F44A3E;
    // Custom colors
    --error-col: #F7C600;
    --link-col: #2c49eb;
    --gray-col: #363F50;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.auth-headline {
    font-size: 36px !important;
}

.auth-link {
    color: var(--link-col);
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.dialog-wrapper {
    position: relative;
}

.dialog-progress-bar {
    position: absolute;
    top: -24px;
    right: -24px;
    left: -24px;
    width: calc(100% + 48px);
    height: 8px;
}