table {
    width: 100%;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}

.mat-row {
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
}

.no-data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    i {
        color: var(--error-col);
        font-size: 32px;
    }
}

.add-customer-btn {
    position: absolute;
    right: 32px;
    bottom: 32px;
}